{% extends "templates/profile.html" %}
{% block profilecontent %}
    <div style="text-align:right;">
        <a href="/delaccount?locale=en">English</a> | 
        <a href="/delaccount?locale=zh">中文</a>
    </div>
    <form class="form-horizontal" action="/delaccount" method="post">  
        <input type="hidden" name="key" value="{{key}}">
        <fieldset>
            <div class="control-group">
                <label class="checkbox">
                    <input type="checkbox" name="delete"> {{title}}
                </label>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-primary">{{title}}</button>
            </div>
            <div class="control-group">
                <span class="lead{% if error %} text-error{% endif %}">
                    {{msg}}
                </span>
            </div>	
        </fieldset>
    </form>  		  
{% endblock %}