<!DOCTYPE HTML>
<html>
  <head>
    <title>Mainpage</title>
    <meta charset="utf-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
      <div class="container">	      
		  <h1>Mainpage</h1>	  
	      <form class="form-horizontal" action="/login" method="post">  
			  <fieldset>  
                  <legend>Loginform</legend>  
                  <div class="control-group"><input type="text" name="email" class="span3" placeholder="email"></div>
			      <div class="control-group"><input type="password" name="password" class="span3" placeholder="password"></div>
                  <div class="control-group"><button type="submit" class="btn btn-primary">Login</button> <a href="/losepassword">Lose password</a></div>
				  <div class="control-group"><span>{{msg}}</span></div>			  		      
		      </fieldset>
          </form>  
		  
		  <form class="form-horizontal" action="/register" method="post">  
			  <fieldset>  
                  <legend>Registerform</legend>  
			      <div class="control-group"><input type="text" name="email" class="span3" placeholder="email"></div>
			      <div class="control-group"><input type="password" name="password" class="span3" placeholder="password"></div>
			      <div class="control-group"><input type="password" name="repassword" class="span3" placeholder="password (repeat)"></div>
			      <div class="control-group"><button type="submit" class="btn btn-primary">Register</button></div> 
				  <div class="control-group"><span>{{rmsg}}</span></div>			  
          </form>  
	  </div>  
  </body>
</html>
