<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand">{{title}}</span>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">{{email}}</a></li>
                        <li><a href="/changepassword">{{changepw}}</a></li>
                        <li><a href="/delaccount">{{delaccount}}</a></li>
                        <li><a href="/logout">{{logout}}</a></li>
                    </ul>
                    <p class="navbar-text navbar-right"><a href="/?locale=en">English</a> | <a href="/?locale=zh">中文</a></p>
                </div>                
            </div>
        </nav>
        <div class="container">
            {% block profilecontent %}
                <h1>{{headline}}</h1>
            {% endblock %}            
        </div>
    </body>
</html>
